<section id='flickrapp'>
  <header id='header'>
    <h1>Flickr</h1>
  </header>

  <section id='main'>
    {{outlet}}

    {{input type='hidden' id='brand' change=allAreDone}}
  </section>
</section>
