<section id='flickrapp'>
  <header id='header'>
    <h1>Flickr</h1>
  </header>

  <section id='main'>
    {{outlet}}

    {{input type='checkbox' id='toggle-all' checked=allAreDone}}
  </section>
</section>
